/* General Styles */
body {
background-repeat: no-repeat;
background-size: cover;
}

ul {
  display: flex; /*flexbox for horizontal alignment */
  justify-content: space-around; /* Space items propotionally */
  padding: 0;
  margin: 0; 
}

h3 {
  text-align: center;
  color: #333;
}

/* Form Styles */

form {
  display: flex;
  flex-direction: column;
}

input[type="number"],
input[type="text"],
input[type="image"],
input,
textarea {
  padding: 10px;
  margin: 10px 0; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; 
  width: 90%; 
}

input[type="image"] {
  cursor: pointer;
  height: 100px; 
  width: auto; 
}

/* Button Styles */
button {
  padding: 6px 20px; /* Consistent padding for buttons */
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px; 
}

button.primary {
  background-color: #007bff; /* Primary button color */
}

button.primary:hover {
  background-color: #000000; /* Hover effect for primary button */
}

button.secondary {
  background-color: #4CAF50; /* Secondary button color */
}

button.secondary:hover {
  background-color: #45a049; /* Hover effect for secondary button */
}

